# Muhammad Taufiq Alif Rahman
### H071191010

In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import transactionencoder

In [2]:
data_raw = [
    ['cow', 'horse', 'dog', 'rabbit', 'ant', 'kancil'],
    ['dill', 'horse', 'dog', 'rabbit', 'ant', 'kancil'],
    ['cow', 'pig', 'rabbit', 'ant'],
    ['cow', 'dog', 'corn', 'rabbit', 'kancil'],
    ['corn', 'horse', 'rabbit', 'mouse', 'ant']
]

In [3]:
te = transactionencoder.TransactionEncoder()
te_ary = te.fit(data_raw).transform(data_raw)

In [4]:
dataset = pd.DataFrame(te_ary, columns=te.columns_)
dataset.head()

    corn    cow   dill    dog   eggs  horse  ice cream    pig  rabbit  yogurt
0  False   True  False   True   True   True      False  False    True    True
1  False  False   True   True   True   True      False  False    True    True
2  False   True  False  False   True  False      False   True    True   False
3   True   True  False   True  False  False      False  False    True    True
4   True  False  False  False   True   True       True  False    True   False

In [5]:
frequent_itemset = apriori(dataset, min_support=0.6, use_colnames=True)
frequent_itemset

    support               itemsets
0       0.6                  (cow)
1       0.6                  (dog)
2       0.8                 (eggs)
3       0.6                (horse)
4       1.0               (rabbit)
5       0.6               (yogurt)
6       0.6          (cow, rabbit)
7       0.6          (dog, rabbit)
8       0.6          (yogurt, dog)
9       0.6          (eggs, horse)
10      0.8         (eggs, rabbit)
11      0.6        (horse, rabbit)
12      0.6       (yogurt, rabbit)
13      0.6  (yogurt, dog, rabbit)
14      0.6  (eggs, horse, rabbit)

In [6]:
result = association_rules(frequent_itemset, metric="confidence", min_threshold=0.5)
result

         antecedents       consequents  ...  leverage  conviction
0              (cow)          (rabbit)  ...      0.00         inf
1           (rabbit)             (cow)  ...      0.00         1.0
2              (dog)          (rabbit)  ...      0.00         inf
3           (rabbit)             (dog)  ...      0.00         1.0
4           (yogurt)             (dog)  ...      0.24         inf
5              (dog)          (yogurt)  ...      0.24         inf
6             (eggs)           (horse)  ...      0.12         1.6
7            (horse)            (eggs)  ...      0.12         inf
8             (eggs)          (rabbit)  ...      0.00         inf
9           (rabbit)            (eggs)  ...      0.00         1.0
10           (horse)          (rabbit)  ...      0.00         inf
11          (rabbit)           (horse)  ...      0.00         1.0
12          (yogurt)          (rabbit)  ...      0.00         inf
13          (rabbit)          (yogurt)  ...      0.00         1.0
14     (yogurt, dog)          (rabbit)  ...      0.00         inf
15  (yogurt, rabbit)             (dog)  ...      0.24         inf
16     (dog, rabbit)          (yogurt)  ...      0.24         inf
17          (yogurt)     (dog, rabbit)  ...      0.24         inf
18             (dog)  (yogurt, rabbit)  ...      0.24         inf
19          (rabbit)     (yogurt, dog)  ...      0.00         1.0
20     (eggs, horse)          (rabbit)  ...      0.00         inf
21    (eggs, rabbit)           (horse)  ...      0.12         1.6
22   (horse, rabbit)            (eggs)  ...      0.12         inf
23            (eggs)   (horse, rabbit)  ...      0.12         1.6
24           (horse)    (eggs, rabbit)  ...      0.12         inf
25          (rabbit)     (eggs, horse)  ...      0.00         1.0

[26 rows x 9 columns]

In [7]:
result_simplify = result[['antecedents', 'consequents', 'support', 'confidence', 'lift']]
result_simplify

         antecedents       consequents  support  confidence      lift
0              (cow)          (rabbit)      0.6        1.00  1.000000
1           (rabbit)             (cow)      0.6        0.60  1.000000
2              (dog)          (rabbit)      0.6        1.00  1.000000
3           (rabbit)             (dog)      0.6        0.60  1.000000
4           (yogurt)             (dog)      0.6        1.00  1.666667
5              (dog)          (yogurt)      0.6        1.00  1.666667
6             (eggs)           (horse)      0.6        0.75  1.250000
7            (horse)            (eggs)      0.6        1.00  1.250000
8             (eggs)          (rabbit)      0.8        1.00  1.000000
9           (rabbit)            (eggs)      0.8        0.80  1.000000
10           (horse)          (rabbit)      0.6        1.00  1.000000
11          (rabbit)           (horse)      0.6        0.60  1.000000
12          (yogurt)          (rabbit)      0.6        1.00  1.000000
13          (rabbit)          (yogurt)      0.6        0.60  1.000000
14     (yogurt, dog)          (rabbit)      0.6        1.00  1.000000
15  (yogurt, rabbit)             (dog)      0.6        1.00  1.666667
16     (dog, rabbit)          (yogurt)      0.6        1.00  1.666667
17          (yogurt)     (dog, rabbit)      0.6        1.00  1.666667
18             (dog)  (yogurt, rabbit)      0.6        1.00  1.666667
19          (rabbit)     (yogurt, dog)      0.6        0.60  1.000000
20     (eggs, horse)          (rabbit)      0.6        1.00  1.000000
21    (eggs, rabbit)           (horse)      0.6        0.75  1.250000
22   (horse, rabbit)            (eggs)      0.6        1.00  1.250000
23            (eggs)   (horse, rabbit)      0.6        0.75  1.250000
24           (horse)    (eggs, rabbit)      0.6        1.00  1.250000
25          (rabbit)     (eggs, horse)      0.6        0.60  1.000000